@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --cor-principal: #FF00BB;
    --cor1: #db009c;
    --cor2: #ff6dff;
    --cor3:  #f6bcf6;
    --preto: #000000;
    --branco: #FFFFFF;
}

body {
    font-size: 1rem;
    font-family: 'Playfair Display'; 
}


section {
    padding-bottom: 5rem;
}

.nav-link{
    color: var(--cor-principal);
    font-weight: 600;
}

.inicio-fundo{
    background-image: url(img/biac.png3.webp);
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 606px;
    margin: 0auto;
}

.esquerda-conteúdo{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}

.botao-inicio {
    background-color: var(--cor2);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;
}

.display-4 {
    text-shadow: -5px 5px var(--cor1);
}

#bia cosmeticos {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    background: var(--cor3);
    background-size: 180px 180px; /* Ajuste o tamanho conforme necessário*/
}

#bia cosmeticos .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; /* Garante que o conteúdo fica acima das imagens de backgronde se houverem */
}
#contato {
    background: var(--cor-principal);
    background-size: cover;
    padding: 4rem 0;
}

.formulario{
    background-color: var(--cor2);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--cor1);
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: var(--cor2);
}